.modal-board-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal-board-wrapper.active {
    opacity: 1;
    pointer-events: all;
}

.modal-board.active {
    opacity: 1;
}

.modal-board {
    background-color: var(--light);
    border-radius: 5px;
    padding: 25px;
    font-size: 14px;
    color: var(--light-text);
    opacity: 0;
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    &__input {
        border: 1px solid var(--darken-text);
        background-color: var(--light);
        border-radius: 5px;
        border-color: var(--light-border);
        margin: 20px 0;
        width: 250px;
        color: var(--light-text);
    }
    &__input:focus {
        outline: none;
    }
    &__input::placeholder {
        color: var(--darken-text);
        padding: 0 5px;
    }
    &__button {
        display: inline-block;
        color: var(--light-text);
        background-color: var(--accent);
        border-radius: 5px;
        border-color: var(--accent);
    }
}

.modal-board h3 {
    font-size: 16px;
    margin-bottom: 20px;
}