@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import 'styles/Board.scss';
@import 'styles/body.scss';
@import 'styles/header.scss';
@import 'styles/ModalBoard.scss';
@import 'styles/ModalTask.scss';
@import 'styles/SideBar.scss';
:root {
    --light: #2c2c38;
    --light-border: #48484f;
    --dark: #21212d;
    --accent: #645fc6;
    --light-text: #fbfcff;
    --darken-text: #8b8e9d;
    --purple-text: #585592;
}

body {
    margin: 0;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--dark);
    color: var(--light-text);
    padding: 0;
}